@model IEnumerable<Blog.Data.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Comentarios (Gerenciamento)</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><spam class="fa fa-plus"></spam>Novo</a>
</p>
<table class="table">
    <thead>
        <tr>

            <!--th>
                @Html.DisplayNameFor(model => model.Id_post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_usuario)
            </th-->

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataComentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <!--td>
                @Html.DisplayFor(modelItem => item.Id_post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_usuario)
            </td-->

            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataComentario)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a> |
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
